<div class="alert alert-info" role="alert" ng-hide="ngModel &amp;&amp; ngModel.length > 0">
    <img src="../../images/grumpycat.ico" alt="Grumpy Cat" class="floating-icon">
    <span>There are no pets yet.</span>
</div>

<div class="form-group" ng-repeat="pet in ngModel">
    <div ng-class-odd="$last ? 'col-xs-11 col-xs-offset-1':'col-xs-offset-1'"
         ng-class-even="col-xs-offset-2"
         class="col-xs-5 well">
        <tl-pet-details pet="pet">
            <button class="pull-right btn btn-danger" type="button" title="Delete"
                    ng-click="onDeletePet(pet)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </tl-pet-details>
    </div>
</div>
<div class="form-group">
    <hr class="col-xs-12"/>
</div>