<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
</head>
<body ng-app="tierladenApp">
<div class="container" ng-controller="AppController">
    <div class="page-header">
        <h1>The <i>Tierladen</i> Pet Store</h1>
    </div>
    <form class="form-horizontal" role="form" name="petForm" ng-submit="petForm.petName.$valid && addPet(name, category, status)">
        <listpets ng-model="pets" delete-pet="deletePet(pet)"></listpets>
        <div class="form-group">
            <div class="col-xs-4" ng-class="isValid(petForm.petName)">
                <input type="text"
                       name="petName"
                       class="form-control"
                       ng-model="name"
                       ng-required="true"
                       ng-minlength="3"
                       placeholder="Enter the pet name..."/>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" ng-model="category" placeholder="What kind of pet... (optional)"/>
            </div>
            <div class="col-xs-3">
                <select class="form-control" ng-model="status">
                    <option value="available">available</option>
                    <option value="pending">pending</option>
                    <option value="sold">sold</option>
                </select>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-default" type="submit" ng-disabled="!name" title="Add">
                  Add <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/controllers.js"></script>
<script type="text/javascript" src="app/services.js"></script>
<script type="text/javascript" src="app/directives.js"></script>
</body>
</html>