<div class="alert alert-info" role="alert" ng-hide="ngModel &amp;&amp; ngModel.length > 0">
    There are no pets yet.
</div>

<div class="form-group" ng-repeat="pet in ngModel">
    <div class="col-xs-9 lead"><strong>{{pet.name}}</strong>{{pet.category ? " the " + pet.category: ""}}{{pet.status ? " is " + pet.status: ""}}</div>
    <div class="col-xs-3">
        <button class="pull-right btn btn-danger" type="button" title="Delete"
                ng-click="onDeletePet(pet)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
</div>
<hr />